<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fga.unb.desenho20162.lavajato">

    <user-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.ListaLavagensActivity"/>
        <activity android:name=".view.CadastroLavagemActivity"/>
        <activity android:name=".view.ListaFuncionarioActivity">
        </activity>
        <activity android:name=".view.CadastroFuncionarioActivity">
        </activity>
        <activity android:name=".view.Lavagem">
        </activity>
    </application>

</manifest>